# This address will be directly pass to new Websocket
ONEBOT_ORIGIN="op://Project/Arona/ONEBOT_ORIGIN"
# The onebot auth token
ONEBOT_AUTH_TOKEN="op://Project/Arona/ONEBOT_AUTH_TOKEN"

# minio endpoint
MINIO_ENDPOINT="op://Project/Arona/MINIO_ENDPOINT"
# minio ak
MINIO_AK="op://Project/Arona/MINIO_AK"
# minio sk
MINIO_SK="op://Project/Arona/MINIO_SK"

# target group
QQ_GROUP_ID="op://Project/Arona/QQ_GROUP_ID"
