ONEBOT_AUTH_TOKEN="op://Development/mu5wep5k4iglv7dfcbjcmxs5b4/credential"
ONEBOT_ORIGIN="sur4:3001"

QQ_GROUP_ID="op://Development/mu5wep5k4iglv7dfcbjcmxs5b4/group"
R2_ACCOUNT_ID="op://Development/Cloudflare R2/account_id"
R2_ACCESS_KEY_ID="op://Development/Cloudflare R2/access_key_id"
R2_SECRET_ACCESS_KEY="op://Development/Cloudflare R2/secret_access_key"
R2_BUCKET="zju-ba-images"
