ONEBOT_AUTH_TOKEN="op://Development/mu5wep5k4iglv7dfcbjcmxs5b4/credential"
ONEBOT_ORIGIN=localhost:6099
QQ_ADMIN_ID="op://Development/mu5wep5k4iglv7dfcbjcmxs5b4/admin"
QQ_GROUP_ID="op://Development/mu5wep5k4iglv7dfcbjcmxs5b4/group"

STATIC_HOST=localhost
STATIC_PORT=8888
TRPC_SERVER=http://localhost:3000
REDIS=redis://localhost:6379/1
SENTRY_DSN="op://Development/sentry-api/DSN"
