# Required
ONEBOT_AUTH_TOKEN="op://Project/Arona/ONEBOT_AUTH_TOKEN"
ONEBOT_ORIGIN="op://Project/Arona/ONEBOT_ORIGIN"
QQ_GROUP_ID="op://Project/Arona/QQ_GROUP_ID"
REDIS=redis://localhost:6379/1
STATIC_HOST=localhost
STATIC_PORT=8888
STATIC_ROOT=/path/to/static/assets

# Optional
WORMFACE_ORIGIN=http://localhost:8080
TWITTER_USERNAME=Blue_ArchiveJP
YOUTUBE_CHANNEL_ID=UCmgf8DJrAXFnU7j3u0kklUQ
NODE_ENV=Project
SENTRY_DSN="op://Project/Arona/SENTRY_DSN"
